<!-- The list projects view -->
<section data-ng-controller="ProjectsController" data-ng-init="find()">
	<div class="col-md-5">
		<h1>
			Projetos
			<a href="/#!/projects/create" class="btn btn-sm btn-info btn-table-top"><i class="fa fa-plus"></i> Novo Projeto</a>
		</h1>
	</div>

	<div class="col-md-7 p-0 mt-15">


		<div class="col-md-3 col-md-offset-5 pl-0">
			<label for="lookingForStatus">Status</label>
			<select class="form-control input-sm" ng-model="lookingForStatus" id="lookingForStatus">
				<option value="" selected="">Todos</option>
				<option value="Em andamento">Em andamento</option>
				<option value="Finalizado">Finalizado</option>
				<option value="Cancelado">Cancelado</option>
			</select>
		</div>
		<div class="col-md-4 pl-0">
			<div class="form-group has-feedback">
  				<label class="control-label" for="search">Pesquisa</label>
  				<input type="text" class="form-control" ng-model="search" id="search">
  				<span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>

	</div>

	<div class="clearfix"></div>
	<hr>

	<div class="col-md-4 pl-0" data-ng-repeat="project in projects | filter:search | filter:{status: lookingForStatus}">
		<div class="panel panel-default panel-projects">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-file-o"></i> <a data-ng-href="#!/projects/{{project._id}}" data-ng-bind="project.title"></a></h3>
			</div>
			<div class="panel-body">
				<table class="table table-responsive">
					<tr>
						<td><b>Status:</b></td>
						<td data-ng-bind="project.status"></td>
					</tr>
					<tr>
						<td><b>Descrição:</b></td>
						<td data-ng-bind="project.description"></td>
					</tr>
					<tr>
						<td><b>Prazo:</b></td>
						<td data-ng-bind="project.deadline | date:'shortDate'"></td>
					</tr>
				</table>
				<br>
				<small data-ng-bind="project.created | date:'short'"></small>
				<small>/</small>
				<small data-ng-bind="project.creator.fullName"></small>
			</div>
		</div>
	</div>

	<!-- If there are no projects in the list, suggest the user's create a new project -->
	<div data-ng-hide="!projects || projects.length">
		<h3>Nenhum projeto aqui, que tal <a href="/#!/projects/create">criar um</a>?</h3>
	</div>
	<div class="clearfix"></div>
	<hr>
	<a class="btn btn-sm btn-danger" href="/#!/"><i class="fa fa-chevron-left"></i> Voltar</a>
</section>
