<!-- Header ejs partial file -->
<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
	<!-- Use the 'title' property to render a page title  -->
	<title><%= title %> - uSpeed.me</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png"/>

	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/style.css">

	<link rel="stylesheet" href="lib/angular-chart.js/dist/angular-chart.css">

	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
