<nav class="navbar navbar-default top-navbar">
   <div class="container">
      <div class="container-fluid">
         <div class="navbar-header">
            <a class="navbar-brand" href="/#!/"><img src="assets/img/logo.png" class="brand-img" alt="uSpeed.me"></a>
         </div>
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
               <li><a href="/#!/"><i class="fa fa-tachometer text-orange"></i> Dashboard</a></li>
               <li><a href="/#!/tasks"><i class="fa fa-tags text-orange"></i> Tarefas</a></li>
               <li><a href="/#!/projects"><i class="fa fa-cogs text-orange"></i> Projetos</a></li>
               <li><a href="/#!/tasks/create" class="btn btn-md btn-info visible-lg-block btn-new-task"><i class="fa fa-plus"></i> Nova Tarefa</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <!--
               <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-2x fa-bell-o text-gray"></i><span class="caret"></span></a>
               <ul class="dropdown-menu" role="menu">
               <li><a href="#"><i class="fa fa-exclamation-triangle text-warning"></i> Nova atualização instalada!</a></li>
               <li class="divider"></li>
               <li><a href="#"><i class="fa fa-check-square-o text-success"></i> Parabéns! Sua produção está crescendo!</a></li>
            </ul>
         </li>
      -->
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img src="assets/img/user.png" alt=""></a>
         <ul class="dropdown-menu" role="menu">
            <!--<li><a href="#"><i class="fa fa-user"></i> Minha Conta</a></li>-->
            <li><a href="/signout"><i class="fa fa-sign-out"></i> Sair</a></li>
         </ul>
      </li>
   </ul>
</div>
</div>
</div>
</nav>
